
.column{
    flex-direction: column;
}
.customNavItem {
  border: 1px solid #a2c3c3;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 2px 3px #d0e1e1;
}

.customNavItem:hover {
  border: 1px solid #007bff;
}


.customNavItem h4:hover {
  color: #007bff;
}


