.fa-ambulance {
  color: #e60000;
}

.fa-tint {
  color: #66ccff;
}

.fa-fire {
  color: #1a75ff;
}

.fa-wrench {
  color: #ff9900;
}

.fa-thermometer-4 {
  color: #ff4800;
}
/* --- Icons */

#serviceIconAndTextRow {
  margin-left: -15px;
  margin-right: -15px;
}

.serviceIconAndTextCol {
  padding-left: 20px;
  padding-right: 20px;
  margin: 25px;
  background-color: white;
}


/*Services Icons*/
#servicesPageHeader {

}

#productIconsAndTitleContainer {

}
