
/* ---- Referrals ------*/
#referrals {
  background-color: #f5f5f5;
}
/**/
ol li {
  display: none;
}

a {
  text-decoration: none
}
/* /Referrals */




#reviewArticle {
  background-color: #f5f5f5;
  font-family: Roboto,Helvetica Neue,sans-serif;
}

.reviewEntry {
  margin: 20px;
  padding: 20px;
  font-style: italic;
background-color: #F9F9F9;
  box-shadow: 1px 1px 2px #ced4da;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (min-width: 768px) {
  .flexItem {
    flex: 40%;
  }
}


.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.reviewName {
  color: #006199;
}


#referrals {
  padding-bottom: 80px;
}





#homePage {
  margin-left: 0px;
  margin-right: 0px;
}
/*   Jumbotron   */
#homePageJumbotron {
  background-color: #007abf;
  color: white;
  padding-top: 15px;
}

#homePageJumbotronText {
  padding-bottom: 40px;
  padding-left: 40px;
}

@media only screen and (max-width: 540px) {
  #homePageJumbotronText {
    padding-left: 20px;
  }
}


#adMainMessage {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.2em;
  text-align: left; /*bootstrap override*/
}

@media only screen and (max-width: 479px) {

  #adMainMessage {
    font-size: 2.6em;
    font-weight: 600;
    line-height: 1.2em;
    //text-align: right; /*bootstrap override*/
  }
  //   #adFooterMessage, #adSubMessage {
  //   display: none;
  //}
}



#adSubMessage {
  font-size: 1.7em;
  text-align: left; /*bootstrap override*/
}



#jumbotronBulletPoints {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: left;
}

.fa-check {
  padding-right: 8px;
}


@media only screen and (min-width: 480px) {

  #jumbotronBulletPoints {
    font-size: 1.2em;
  }
}

#sidNoBackgroundSmall img, #sidNoBackgroundSmall source {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*----/Jumbotron */
#routerContainer {
}


/*----Main Text and Contact Form */

#homePageMainTextAndForm {
  background-color: #f9f9f9;
  padding-top: 25px;
  padding-bottom: 25px;
}


#contactFormCol {
  border: 2px solid #ced4da;
  background: #f5f5f5;
}

/*----/Main Text and Contact Form */

/*--Services*/
serviceImage {
  background-color: white;
}




